<style>
    .reset{
    float: right;
    background: inherit;
    border: 1px solid #e5e5e5;
    border-radius: 10%;
    }
</style>
<form (submit)="searchValue(searchString.value)" class="navbar-form navbar-right" role="search">
                <div class="form-group form-black is-empty">
                    <input type="text" class="form-control" placeholder="Search" #searchString>
                    <span class="material-input"></span>
                </div>
                <button (click)="searchValue(searchString.value)" class="btn btn-white btn-round btn-just-icon">
                    <i class="material-icons">search</i><div class="ripple-container"></div>
                </button>
            </form>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Simple Table<button class="reset" *ngIf="showsearch" (click)="resetData()">Reset</button></h4>
                        <p class="category">Here is a subtitle for this table</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-danger">
                                <tr>
                                    <th></th>
                                    <th>Id</th>
                                    <th>Email</th>
                                    <th>Name</th>
                                    <th>State</th>
                                    <th>State</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let p of users | paginate: {itemsPerPage: 10, currentPage:page, id: '1'}; let i = index">
                                   <td><img src="{{p.photoURL}}" style="width:50px"/></td>
                                    <td>{{p._id}}</td>
                                    <td>{{p.email}}</td>
                                    <td>{{p.name}}</td>
                                    <td class="text-danger">{{p.state}}</td>
                                    <td [routerLink]="['/user',p._id]">gf</td>
                                </tr>
                               
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

          <!--  <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Table on Plain Background</h4>
                        <p class="category">Here is a subtitle for this table</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Salary</th>
                                    <th>Country</th>
                                    <th>City</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Dakota Rice</td>
                                    <td>$36,738</td>
                                    <td>Niger</td>
                                    <td>Oud-Turnhout</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Minerva Hooper</td>
                                    <td>$23,789</td>
                                    <td>Curaçao</td>
                                    <td>Sinaai-Waas</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Sage Rodriguez</td>
                                    <td>$56,142</td>
                                    <td>Netherlands</td>
                                    <td>Baileux</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Philip Chaney</td>
                                    <td>$38,735</td>
                                    <td>Korea, South</td>
                                    <td>Overland Park</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Doris Greene</td>
                                    <td>$63,542</td>
                                    <td>Malawi</td>
                                    <td>Feldkirchen in Kärnten</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Mason Porter</td>
                                    <td>$78,615</td>
                                    <td>Chile</td>
                                    <td>Gloucester</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>-->
        </div>
         <pagination-controls (pageChange)="page = $event" id="1"
                      maxSize="5"
                      directionLinks="true"
                      autoHide="true">
                </pagination-controls>
    </div>
</div>
 