<div class="main-content">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header" data-background-color="red">
                    <h4 class="title">Edit Profile</h4>
                    <p class="category">Complete your profile</p>
                </div>
                <div class="card-content">
                    <form (ngSubmit)="onSubmit(empForm ,nId.value, $event)" #empForm="ngForm" autocomplete="off">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Id</label>
                                    <input type="text" class="form-control" #nId name="_id" disabled [(ngModel)]="_id">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group form-black label-floating">
                                    <label class="control-label">Email </label>
                                    <input type="email"  class="form-control" name="email" [(ngModel)]="email">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating">
                                    <label class="control-label">Fist Name</label>
                                    <input type="text" name="name" class="form-control" [(ngModel)]="name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Last Name</label>
                                    <input type="text" class="form-control" >
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating">
                                    <label class="control-label">Phone</label>
                                    <input type="text" class="form-control" name="phone" [(ngModel)]="phone">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating ">
                                    <label class="control-label">Gender</label>
                                    <input type="text" class="form-control" name="gender" [(ngModel)]="gender" >
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group form-black label-floating">
                                    <label class="control-label">City</label>
                                    <input type="text" class="form-control" name="city" [(ngModel)]="city">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-black label-floating">
                                    <label class="control-label">State</label>
                                    <input type="text" class="form-control" name="state" value="state">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-black label-floating">
                                    <label class="control-label">Postal Code</label>
                                    <input type="text" class="form-control" name="pincode" value="pincode">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>About Me</label>
                                    <div class="form-group form-black label-floating ">
                                        <label class="control-label"> Description</label>
                                        <textarea class="form-control" rows="5" name="bio" [(ngModel)]="bio">{{bio}}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button (click)="onSubmit(empForm,nId.value, $event)" class="btn btn-danger pull-right">Update Profile</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>

            <div class="card">
                <div class="card-header" data-background-color="red">
                    <h4 class="title">Post<span style="float:right;">{{postCount}}</span></h4>
                    <p class="category"></p>

                </div>
                <div class="card-content">
                    <div *ngFor="let p of posts">
                     <div class="row" >
                         <p class="col-md-10" style="text-align: justify;"><img src="{{p.files.url}}" style="width:300px;float:left;
                         margin:0px 10px 10px 0px"/>{{p.description}}</p>

                         <div class="col-md-2" style="text-align: center;">
                             <div data-background-color="green"><i class="fa fa-thumbs-up" style="margin-right: 10px;"></i>{{p.like_count}}</div>
                             <div data-background-color="blue"><i class="fa fa-commenting" style="margin-right: 10px;"></i>{{p.comment_count}}</div>
                         </div>
                        </div>
                        <hr />
                     </div>

                </div>
            </div>


        </div>
        <div class="col-md-4">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="#pablo">
                        <img class="img" src="{{photoURL}}" />
                    </a>
                </div>

                <div class="content">
                    <h6 class="category text-gray"></h6>
                    <h4 class="card-title">{{name}}</h4>
                    <p class="card-content">
                       {{bio}}
                    </p>
                   <!-- <a href="#pablo" class="btn btn-danger btn-round">Follow</a>-->
                </div>
            </div>
            <div class="row">
                 <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="blue">
                            <i class="fa fa-commenting"></i>
                        </div>
                        <div class="card-content">
                            <p class="category">Comments</p>
                            <h3 class="title">{{commentCount}}</h3>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="green">
                            <i class="fa fa-thumbs-up"></i>
                        </div>
                        <div class="card-content">
                            <p class="category">Likes</p>
                            <h3 class="title">{{likeCount}}</h3>
                        </div>

                    </div>
                </div>

            </div>
            <div class="row">
                <div class="alert alert-info" *ngFor="let p of comments">
                            <button aria-hidden="true" class="close" type="button">×</button>
                            <span>{{p.description}}</span>
                        </div>
            </div>

        </div>
    </div>
</div>
</div>
